.replay-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.pagination .btn {
    margin: 0 0.5rem;
}