@page "/changelog"
@using ReplayBrowser.Pages.Shared
@using Microsoft.AspNetCore.Components.Web

<MetaDataSpecifer 
    Title="Changelog" 
    Description="A list of changes made to the Replay Browser." 
    />

<PageTitle>Changelog</PageTitle>    
    
<h3>Changelog</h3>

<p>12.08.2024</p>
<ul>
    <li>Removed stats page pending rewrite</li>
</ul>
<p>23.07.2024</p>
<ul>
    <li>Added Goob station as a replay source.</li>
</ul>
<p>19.07.2024</p>
<ul>
    <li>Added Harmony as a replay source.</li>
</ul>
<p>12.07.2024</p>
<ul>
    <li>Added RMC-14 as a replay source.</li>
</ul>
<p>24.06.2024</p>
<ul>
    <li>Added caching to profiles in order to speed up stuff.</li>
</ul>
<p>20.06.2024</p>
<ul>
    <li>Removed the percentage display of new players in a round. This was causing MASSIVE performance issues.</li>
</ul>
<p>17.06.2024</p>
<ul>
    <li>Added the ability to watch profiles for an easy overview.</li>
</ul>
<p>15.06.2024</p>
<ul>
    <li>Added stats page which currently shows the average round time.</li>
</ul>
<p>13.06.2024</p>
<ul>
    <li>Added a display on the replay viewer which shows the % of new players in a round</li>
    <li>Added the 3 temporary wizard servers as a replay source</li>
</ul>
<p>09.06.2024</p>
<ul>
    <li>Made the UI for mobile devices more user friendly</li>
</ul>
<p>08.06.2024</p>
<ul>
    <li>Added Horizon from Delta-V as a replay source</li>
    <li>Leaderboards will stop recalculating when invalid username is passed</li>
    <li>You can now search with multiple parameters! Example <a href="#" onclick="window.location.href = '/search?searches=W3sic2VhcmNoTW9kZSI6IlBsYXllciBvb2MgbmFtZSIsInNlYXJjaFZhbHVlIjoiU2lteW9uIn0seyJzZWFyY2hNb2RlIjoiU2VydmVyIGlkIiwic2VhcmNoVmFsdWUiOiJ1bWJyYSJ9XQ%3D%3D&page=0'">here</a></li>
</ul>
<p>05.06.2024</p>
<ul>
    <li>Added Sector-Umbra (Whitelisted HRP) as a replay source</li>
    <li>Made button to favorite replays more clear</li>
</ul>
<p>04.06.2024</p>
<ul>
    <li>Added ability to delete account and purge all replays</li>
</ul>
<p>03.06.2024</p>
<ul>
    <li>Added new page for changelog</li>
    <li>Added Axolotl as a replay source</li>
</ul>