@page "/changelog"
<h3>Changelog</h3>

<p>04.06.2024</p>
<ul>
    <li>Added ability to delete account and purge all replays</li>
</ul>
<p>03.06.2024</p>
<ul>
    <li>Added new page for changelog</li>
    <li>Added Axolotl as a replay source</li>
</ul>