@page "/contact"
@using Microsoft.AspNetCore.Components.Web

@inject IConfiguration Configuration

<PageTitle>Contact</PageTitle>

<h3>Contact</h3>

<p>You can contact me using the following methods:</p>
<ul>
    <li>Email: <a href="mailto:@Configuration["Contact:Email"]">@Configuration["Contact:Email"]</a></li>
    <li>Discord: @Configuration["Contact:Discord"]</li>
</ul>

You can also raise an issue on the <a href="https://github.com/Simyon264/ReplayBrowser/issues/new">GitHub repository</a> if you have any questions or suggestions.
