@page "/downloads"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Downloads</PageTitle>

<h3>Downloads</h3>
<p>Here you can see the progress of the internal downloads of the website.<br/>The website looks for new replays every 10th minute. So 12:00, 12:10, 12:20, 12:30, etc.</p>
<div id="pregenerationStatus">
    <p>Pregeneration: <b id="pregenerationCurrent">0</b> / <b id="pregenerationMax">0</b></p>
    <progress id="pregenerationProgress" value="0" max="1"></progress>
</div>

<p>Status: <b id="status-text">Waiting...</b> <span id="details"></span></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Filename</th>
            <th>Progress</th>
        </tr>
    </thead>
    <tbody id="downloads">
    <p id="download-text-no"><b>No downloads in progress</b></p>
    </tbody>
</table>

<script>
    let Downloads = [];
    let Status = "";
    let Details = "";
    let PregenerationCurrent = 0;
    let PregenerationMax = 0;
    
    setInterval(() => {
        download();
    }, 500);
    
    function download() {
        $.get('/api/Data/download-progress', (data) => {
            console.debug(data);
            Downloads = data.progress;
            Status = data.status;
            Details = data.details;
            PregenerationCurrent = data.pregenerationProgress.current;
            PregenerationMax = data.pregenerationProgress.max;
            updateDownloads();
        });
    }
    

    function updateDownloads() {
        let downloads = document.getElementById('downloads');
        downloads.innerHTML = '';
        if (Object.keys(Downloads).length === 0) {
            document.getElementById('download-text-no').style.display = 'block';
        } else {
            document.getElementById('download-text-no').style.display = 'none';
        }
        
        document.getElementById('pregenerationCurrent').innerText = PregenerationCurrent;
        document.getElementById('pregenerationMax').innerText = PregenerationMax;
        if (PregenerationMax !== 0) { // Prevent division by zero
            document.getElementById('pregenerationProgress').value = PregenerationCurrent / PregenerationMax;
        } 

        document.getElementById('status-text').innerText = Status;
        document.getElementById('details').innerText = Details;
        
        for (let key in Downloads) {
            let row = document.createElement('tr');
            let filename = document.createElement('td');
            let progressCell = document.createElement('td');

            filename.innerText = key;

            let progressBar = document.createElement('progress');
            progressBar.value = Downloads[key];
            progressBar.max = 1;
            progressCell.appendChild(progressBar);

            let percentage = document.createElement('span');
            percentage.innerText = (Downloads[key] * 100).toFixed(2) + '%';
            progressCell.appendChild(percentage);
            
            row.appendChild(filename);
            row.appendChild(progressCell);
            downloads.appendChild(row);
        }
    }

    download();
</script>