@page "/privacy"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Privacy Policy</PageTitle>

<h3>Privacy policy</h3>

<p>This document explains what data is collected and how it is used. It applies to every person who visits this website.</p>

<h4>1. Data Collection</h4>
<p>I, the operator of this website, collect the following types of data:</p>
<ul>
    <li>Log entries of your visits, including:
        <ul>
            <li>Time of visit</li>
            <li>Actions performed (e.g., search, opened leaderboards)</li>
            <li>Details of actions (e.g., "Mode: PlayerOocName, Query: abc")</li>
        </ul>
    </li>
    <li>Personal information (if provided by logging in):
        <ul>
            <li>Username</li>
            <li>GUID</li>
        </ul>
    </li>
</ul>

<h4>2. Purpose of Data Collection</h4>
<p>I collect data to:</p>
<ul>
    <li>Improve the service</li>
    <li>Detect and prevent abuse</li>
</ul>

<h4>3. Data Sharing and Disclosure</h4>
<p>I do not share your data with third parties.</p>


<h4>4. Data Storage and Security</h4>
<p>Logs are <em>NOT</em> encrypted. Log data is cleared periodically for visits without a login present.</p>

<p>You can delete your account, which will remove all associated data.</p>

<h4>5. Data Download</h4>
<p>You can download a copy of your data by clicking <a href="/account/download" target="_blank">here</a>.</p>

<h4>6. Contact Information</h4>
<p>If you have any questions or concerns, please contact me <a href="/contact">here</a>.</p>