@page "/favourites"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web
@using ReplayBrowser.Data
@using ReplayBrowser.Data.Models
@using ReplayBrowser.Helpers
@using ReplayBrowser.Models
@using ReplayBrowser.Pages.Shared
@inject ReplayHelper ReplayHelper
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@attribute [Authorize]

<PageTitle>Favorites</PageTitle>

<h3>Saved replays</h3>

@if (_replays == null)
{
    <p><em>Loading...</em></p>
}
else if (_replays.Count == 0)
{
    <p><em>No replays saved yet.</em></p>
}
else
{
    <p>Page @(_page + 1) of @_totalPages</p>
    <div class="replay-list">
        @foreach (var replay in _replays)
        {
            <ReplayDisplay ReplayData="replay" ReloadOnFavourite="true" />
        }
    </div>
    <div class="pagination">
        @if (_page > 0)
        {
            <a href="/favourites?page=@(_page - 1)" class="btn btn-primary" onclick="/fav">Previous page</a>
        } else
        {
            <a class="btn btn-primary" disabled>Previous page</a>
        }
        @if (_page < _totalPages - 1)
        {
            <a href="/favourites?page=@(_page + 1)" class="btn btn-primary" onclick="pageUp()">Next page</a>
        } else
        {
            <a class="btn btn-primary" disabled>Next page</a>
        }
    </div>
}

<style>
    .replay-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 1rem 0;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }

    .pagination .btn {
        margin: 0 0.5rem;
    }
</style>

@code {
    private List<ReplayResult>? _replays;
    private int _totalPages = 0;
    private int _totalCount = 0;
    private int _page = 0;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var uri = new Uri(NavigationManager.Uri);
        var query = uri.Query;
        var replays = await ReplayHelper.GetFavorites(authState);
        if (query.Length > 1)
        {
            var queryDict = System.Web.HttpUtility.ParseQueryString(query.Substring(1));

            // Try to get the page number from the query string
            if (int.TryParse(queryDict["page"], out var page))
            {
                _page = page;
            }
        }

        // Paginate the replays
        _totalCount = replays?.Count ?? 0;
        _totalPages = (int)Math.Ceiling((double)_totalCount / Constants.ReplaysPerPage);
        _replays = replays?.Skip(_page * Constants.ReplaysPerPage).Take(Constants.ReplaysPerPage).ToList();
    }
}