<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <script src="popper.min.js"></script>
    <script src="jquery-3.7.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.js"></script>
    <script src="bootstrap/js/bootstrap-autocomplete.min.js"></script>
    <link rel="stylesheet" href="app.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="robots" content="noindex">
    <HeadOutlet/>
</head>

<body>

<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>