@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using ReplayBrowser.Data
@using ReplayBrowser.Data.Models.Account
@using ReplayBrowser.Helpers
@using ReplayBrowser.Services.ReplayParser
@using Serilog
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ReplayDbContext DbContext
@inject Ss14ApiHelper Ss14ApiHelper

@code
{
    private System.Security.Claims.ClaimsPrincipal _user;
    private Account? _account;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _user = authState.User;
        if (_user.Identity.IsAuthenticated)
        {
            var guid = (Guid)AccountHelper.GetAccountGuid(authState)!;
            _account = DbContext.Accounts.FirstOrDefault(a => a.Guid == guid);
            var data = await Ss14ApiHelper.FetchPlayerDataFromGuid(guid);

            if (_account == null)
            {
                _account = new Account()
                {
                    Guid = guid,
                    Username = data.Username
                };

                DbContext.Accounts.Add(_account);
                DbContext.SaveChanges();
            
                Log.Information("Created new account for {Guid} with username {Username}", guid, data.Username);
            }
        
            if (_account.Username != data.Username)
            {
                _account.Username = data.Username;
                await DbContext.SaveChangesAsync();
                Log.Information("Updated username for account {Guid} to {Username}", guid, data.Username);
            }
        }
    }
}

<div id="modal-root">
    
</div>

<div class="page">
    <main class="container my-5">
        @if (_user.Identity.IsAuthenticated)
        {
            <p id="logged-in-text">Hello <strong>@_user.Claims.Single(c => c.Type == "name").Value!</strong></p>
            
            <a href="/account/logout" class="btn btn-primary">Logout</a>
            <a class="btn btn-primary" onclick="window.location.href = '/account/manage';" style="margin-left: 10px">Manage</a>
            <a class="btn btn-primary" onclick="window.location.href = '/favourites';" style="margin-left: 10px">Favourites</a>
            
            @if(_account?.IsAdmin ?? false)
            {
                <a class="btn btn-primary" onclick="window.location.href = '/account/admin';" style="margin-left: 10px">Admin</a>
            }
        }
        else
        {
            <a href="/account/login" class="btn btn-primary">Login via SS14</a>
        }

        <br/>
        <a class="btn btn-primary" onclick="window.location.href = '/leaderboard'" style="margin-top: 10px">Leaderboard</a>
        <a class="btn btn-primary" onclick="window.location.href = '/'" style="margin-left: 10px; margin-top: 10px">Main page</a>
        <a class="btn btn-primary" onclick="window.location.href = '/downloads'" style="margin-left: 10px; margin-top: 10px">Current downloads</a>
        <a class="btn btn-primary" onclick="window.location.href = '/changelog'" style="margin-left: 10px; margin-top: 10px">Changelog</a>

        <p>Warning: Replays recorded before @ReplayParserService.CutOffDateTime.ToLocalTime().ToString("yyyy-MM-dd") (yyyy-MM-dd) are not supported and are not counted</p>
        
        <hr/>
        @Body
    </main>
</div>

<footer class="footer text-muted text-center">
    <div class="container">
        <p>Replay Browser is a project by Simyon and YuNii. Source code available on <a href="https://github.com/Simyon264/ReplayBrowser">GitHub</a>.</p>
    </div>
    
    <div class="container">
        <p><a href="/contact">Contact</a> | <a href="/privacy">Privacy Policy</a></p>
    </div>
</footer>

<script>
    const modalRoot = document.getElementById('modal-root');
    const pageRoot = document.querySelector('.page');
    
    const modals = document.querySelectorAll('.modal');
    modals.forEach(modal => {
        modalRoot.appendChild(modal);
    });
    
    const observer = new MutationObserver(function(mutations) {
        const modals = document.querySelectorAll('.modal');
        modals.forEach(modal => {
            modalRoot.appendChild(modal);
        });
    });
    observer.observe(pageRoot, { childList: true, subtree: true });

    function FavouriteReplay(replayId, reloadOnComplete = false) {
        // If we are not logged in, we set href to /account/login
        if (document.getElementById('logged-in-text') == null) {
            window.location.href = '/account/login'; // horrible code
            return;
        }
        
        fetch(`/api/replay/favourite/${replayId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.ok) {
                // the response is just a boolean, true if its now favourited, false if its not
                response.json().then(isFavourited => {
                    let button = $(`#favorite-button-${replayId}`)
                
                    // we can just get the first child because the button only has one child
                    // either <i class="fas fa-star"></i> or <i class="far fa-star"></i>
                    let icon = button.children().first();
                    if (isFavourited) {
                        icon.removeClass('far');
                        icon.addClass('fas');
                    } else {
                        icon.removeClass('fas');
                        icon.addClass('far');
                    }

                    if (reloadOnComplete) {
                        location.reload();
                    }
                })
            }
        });
    }

</script>