<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" data-enhance-nav="false">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <script src="popper.min.js"></script>
    <script src="jquery-3.7.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.js"></script>
    <script src="bootstrap/js/bootstrap-autocomplete.min.js"></script>
    <link rel="stylesheet" href="app.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="robots" content="noindex">

    <script src="_framework/blazor.web.js" autostart="false"></script>

    <style>
        /* For ReplayDisplay cards description */
        dl {
            display: grid;
            grid-gap: 10px 16px;
            grid-template-columns: auto max-content;
        }

        dt {
            grid-column-start: 1;
        }

        dt:not(:first-of-type)::before {
            content: "";
            position: absolute;
            left: 0.5em;
            right: 0.5em;
            margin-top: -5px;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
        }

        dd {
            margin: 0;
            grid-column-start: 2;
        }
    </style>

    <HeadOutlet/>
</head>

<body>

<Routes/>
</body>

</html>