@page "/error"
@using System.Diagnostics
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Error</PageTitle>

<MetaDataSpecifer
    Title="Error"
    Description="There was an error. Please try again later."
/>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

<h3>Debug Mode</h3>
<p>
    Swapping to <strong>Debug</strong> configuration will display more detailed information about the error that occurred.
</p>
<p>
    <strong>The debug configuration shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the debug configuration by setting the appending <strong>--Configuration Debug</strong> to the <strong>dotnet run</strong> command.
</p>

@code{
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;

}