name: Deploy

on: 
  push:
    branches:
      - master
  workflow_dispatch:
      
jobs:
  
  deploy:
    runs-on: ubuntu-latest
    
    env:
      Solution_Name: ReplayBrowser.sln
      
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        
    - name: Build Solution
      run: dotnet build ./ReplayBrowser/ReplayBrowser.csproj
      
    - name: Install SSH Key
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
        
    - name: Prepare files for deployment
      run: |
        mkdir deploy
        rsync -av --exclude='bin' --exclude='obj' --exclude='.git' --exclude='deploy' ./ ./deploy
        echo '${{ secrets.APPSETTINGS }}' > ./deploy/ReplayBrowser/appsettings.Secret.json
        
    - name: Upload files to server
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        source: "./deploy/*"
        target: /home/${{ secrets.SERVER_USERNAME }}/ReplayBrowser
        
    - name: End service
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_IP }} "sudo systemctl stop replaybrowser.service"

    - name: Start service
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_IP }} "sudo systemctl start replaybrowser.service"
